{
  "projectId": "rlx-invoice-xxxxx",
  "storageBucket": "rlx-invoice-xxxxx.appspot.com",
  "apiKey": "YOUR_ANDROID_API_KEY",
  "appId": "1:123456789:android:abcdef1234567890",
  "messagingSenderId": "123456789",
  "databaseURL": "https://rlx-invoice-xxxxx.firebaseio.com"
}
